# Database
DATABASE_URL=

# Public site URL
BASE_URL=
WEBAPP_BASE_URL=

# Telegram bot
BOT_TOKEN=
TELEGRAM_BOT_USERNAME=qadam_loyihaBot

# Admin auth
ADMIN_TOKEN=
ADMIN_CHAT_ID=
ADMIN_CONTACT_URL=
ADMIN_USERNAME=
